main{
    min-height: 80vh;
}

h3 {

    padding: 1rem 0; 
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.rating span{
    margin: 0.03rem;
}


strong {
    color:black;
}
.carousel-caption {
    width: 200px;
    z-index: 10;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 65%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
